{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<title>Webpack App</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<meta content="width=device-width,initial-scale=1" name="viewport">
</head>
<body>
<div id="root">
  test
</div>
<script>
  window.props = {{ props|safe }};  // make sure to escape your props to prevent XSS! See here for the source for the json filter: https://gist.github.com/pirate/c18bfe4fd96008ffa0aef25001a2e88f
  window.react_mount = document.getElementById('react');
</script>
<script src="{% static 'static/js/main.90695fa8.js' %}" type="text/javascript"></script>
{% if debug %}
<script id="__bs_script__">//<![CDATA[
  document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.24.4'><\/script>".replace("HOST", location.hostname));
//]]></script>
{% endif %}
</body>
</html>
